<h2>Here is a form to make a new User</h2>

<form action="/users" method="post">
  name: <input type="text" name="name">
  <p></p>
  email: <input type="text" name="email">
  <p></p>
  password: <input type="text" name="password">
  <p></p>
  password_confirmation: <input type="text" name="password_confirmation">
  <p></p>
  <input type="submit" value="Make a new recipe">
</form>